<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>电影</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>周边游</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>休闲娱乐</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>全部</string>
				<key>contents</key>
				<string>9162</string>
			</dict>
			<dict>
				<key>name</key>
				<string>洗浴/汗蒸</string>
				<key>contents</key>
				<string>430</string>
			</dict>
			<dict>
				<key>name</key>
				<string>足疗按摩</string>
				<key>contents</key>
				<string>3096</string>
			</dict>
			<dict>
				<key>name</key>
				<string>KTV</string>
				<key>contents</key>
				<string>328</string>
			</dict>
			<dict>
				<key>name</key>
				<string>酒吧/咖啡</string>
				<key>contents</key>
				<string>1180</string>
			</dict>
			<dict>
				<key>name</key>
				<string>桌游/电玩</string>
				<key>contents</key>
				<string>243</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DIY手工</string>
				<key>contents</key>
				<string>2354</string>
			</dict>
			<dict>
				<key>name</key>
				<string>密室逃脱</string>
				<key>contents</key>
				<string>3443</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>生活服务</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>全部</string>
				<key>contents</key>
				<string>22439</string>
			</dict>
			<dict>
				<key>name</key>
				<string>汽车服务</string>
				<key>contents</key>
				<string>2234</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宠物服务</string>
				<key>contents</key>
				<string>3221</string>
			</dict>
			<dict>
				<key>name</key>
				<string>证件照</string>
				<key>contents</key>
				<string>3443</string>
			</dict>
			<dict>
				<key>name</key>
				<string>家政服务</string>
				<key>contents</key>
				<string>23434</string>
			</dict>
			<dict>
				<key>name</key>
				<string>家政服务</string>
				<key>contents</key>
				<string>23434</string>
			</dict>
			<dict>
				<key>name</key>
				<string>体检/齿科</string>
				<key>contents</key>
				<string>244</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鲜花</string>
				<key>contents</key>
				<string>3243</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商场购物卡</string>
				<key>contents</key>
				<string>32425</string>
			</dict>
			<dict>
				<key>name</key>
				<string>充值服务</string>
				<key>contents</key>
				<string>32432</string>
			</dict>
			<dict>
				<key>name</key>
				<string>摄影写真</string>
				<key>contents</key>
				<string>2345</string>
			</dict>
			<dict>
				<key>name</key>
				<string>母婴亲子</string>
				<key>contents</key>
				<string>32444</string>
			</dict>
			<dict>
				<key>name</key>
				<string>服饰鞋包</string>
				<key>contents</key>
				<string>2345</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>宴会</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>全部</string>
				<key>contents</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>酒店宴会</string>
				<key>contents</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>一站式婚礼会馆</string>
				<key>contents</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>特色餐厅</string>
				<key>contents</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
